<header>
  <div>
    <h1>Fotogalería</h1>
  </div>
  <div>
    <a class="w3-bar-item w3-button" href="/anadir" style="width:15%">Añadir Imagen</a>
    <a class="w3-bar-item w3-button" href="/mostrar" style="width:15%">Mostrar Imágenes</a> 
  </div>  
</header>

<div class="w3-bar w3-black">
  <a class="w3-bar-item w3-button" href="/" style="width:15%">Mostrar Imágenes</a>
  <a class="w3-bar-item w3-button" href="/anadir" style="width:15%; color:yellow"><b>Añadir Imagen</b></a>
</div>