.repetida{
    background-color: rgba(211, 25, 25, 0.788);
    color:white;
    font-size:small;
}
.footer{
    background-color: black;
    color: rgb(205, 212, 194);
    font-size: medium;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
   
}
.portada{
    background-color: black;
    color: rgb(205, 212, 194);
    font-size: medium;
    text-align: center;
}